.video-container {
  position: relative;
}

.container-2sjPya {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.message-2qRu38 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.cozy-3raOZG {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.nonMediaAttachmentsContainer-3s1dgm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.container-2sjPya {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.video-container-custom-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
