.controls-container {
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
  z-index: 2;
  position: relative;
}

.controls-container.non-fullscreen {
  z-index: -1;
}

.controls-container button,
.controls-container input[type="range"],
.controls-container span {
  margin: 0 4px;
}

.controls-container button {
  background-color: transparent;
  border: none;
  color: #dcddde;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.controls-container button:hover {
  color: #7289da;
}

.controls-container .time-slider,
.controls-container .volume-slider {
  width: 100%;
  height: 4px;
  background-color: #72767d;
  outline: none;
  border-radius: 5px;
  -webkit-appearance: none;
}

.controls-container .time-slider::-webkit-slider-thumb,
.controls-container .volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #7289da;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

.controls-container .time-slider::-moz-range-thumb,
.controls-container .volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #7289da;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container .volume-slider {
  width: 80px;
}

.download-button {
  text-decoration: none;
  color: #dcddde;
  font-size: 14px;
  cursor: pointer;
}

.download-button:hover {
  color: #7289da;
}

.controls-container {
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
  position: relative;
}

.controls-container.show-controls {
  opacity: 1;
}

.video-container-custom-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  opacity: 1;
}

.video-container-custom-video video {
  width: 100%;
  object-fit: contain;
  background-color: #202225;
  z-index: 1;
  position: relative;
}

.custom-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  gap: 8px;
  transition: transform 0.5s, opacity 0.5s;
}

.video-container-custom-video:hover .custom-video-controls {
  opacity: 1;
}

/* Fullscreen styles */
.video-container-custom-video:-webkit-full-screen video {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.video-container-custom-video:-webkit-full-screen .custom-video-controls {
  position: fixed;
  bottom: 0;
}

.video-container-custom-video:-moz-full-screen video {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.video-container-custom-video:-moz-full-screen .custom-video-controls {
  position: fixed;
  bottom: 0;
}

.video-container-custom-video:fullscreen video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.video-container-custom-video:fullscreen .custom-video-controls {
  position: fixed;
  bottom: 0;
}

.video-container-custom-video:-ms-fullscreen video {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.video-container-custom-video:-ms-fullscreen .custom-video-controls {
  position: fixed;
  bottom: 0;
}
