.nonMediaAttachmentItem-1e7YaR {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 5px;
  display: block;
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2f3136;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Whitney', sans-serif;
  font-size: 12px;
  color: #b9bbbe;
}

.controls-container button {
  background-color: transparent;
  border: none;
  color: #b9bbbe;
  font-size: 12px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

