.nonMediaAttachmentItem-1e7YaR {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3136;
  border-radius: 5px;
  padding: 1px;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 5px;
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2f3136;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Whitney', sans-serif;
  font-size: 12px;
  color: #b9bbbe;
}

.controls-container button {
  background-color: transparent;
  border: none;
  color: #b9bbbe;
  font-size: 12px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.controls-container button:hover {
  color: #dcddde;
}

.controls-container .time-slider {
  width: 100%;
  height: 3px;
  background-color: #72767d;
  outline: none;
  -webkit-appearance: none;
}

.controls-container .time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #dcddde;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container .time-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #dcddde;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container .volume-slider {
  width: 50px;
  height: 3px;
  background-color: #72767d;
  outline: none;
  -webkit-appearance: none;
}

.controls-container .volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #dcddde;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container .volume-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #dcddde;
  border-radius: 50%;
  cursor: pointer;
}
.video-container {
  position: relative;
}

.custom-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.custom-video-controls.show-controls {
  transform: translateY(0%);
}

.custom-video:hover .custom-video-controls,
.custom-video-controls:hover {
  transform: translateY(0%);
}
