.nonMediaAttachmentsContainer-3s1dgm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.container-2sjPya {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.video-container-custom-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
